#fountainTextG{
	width:1050px;
	margin:auto;
}

.fountainTextG{
	color:rgb(172,28,122);
	font-family:Arial;
	font-size:109px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.91s;
		-o-animation-duration:2.91s;
		-ms-animation-duration:2.91s;
		-webkit-animation-duration:2.91s;
		-moz-animation-duration:2.91s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:1.04s;
		-o-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-moz-animation-delay:1.04s;
}
#fountainTextG_2{
	animation-delay:1.25s;
		-o-animation-delay:1.25s;
		-ms-animation-delay:1.25s;
		-webkit-animation-delay:1.25s;
		-moz-animation-delay:1.25s;
}
#fountainTextG_3{
	animation-delay:1.46s;
		-o-animation-delay:1.46s;
		-ms-animation-delay:1.46s;
		-webkit-animation-delay:1.46s;
		-moz-animation-delay:1.46s;
}
#fountainTextG_4{
	animation-delay:1.66s;
		-o-animation-delay:1.66s;
		-ms-animation-delay:1.66s;
		-webkit-animation-delay:1.66s;
		-moz-animation-delay:1.66s;
}
#fountainTextG_5{
	animation-delay:1.87s;
		-o-animation-delay:1.87s;
		-ms-animation-delay:1.87s;
		-webkit-animation-delay:1.87s;
		-moz-animation-delay:1.87s;
}
#fountainTextG_6{
	animation-delay:2.08s;
		-o-animation-delay:2.08s;
		-ms-animation-delay:2.08s;
		-webkit-animation-delay:2.08s;
		-moz-animation-delay:2.08s;
}
#fountainTextG_7{
	animation-delay:2.29s;
		-o-animation-delay:2.29s;
		-ms-animation-delay:2.29s;
		-webkit-animation-delay:2.29s;
		-moz-animation-delay:2.29s;
}
#fountainTextG_8{
	animation-delay:2.5s;
		-o-animation-delay:2.5s;
		-ms-animation-delay:2.5s;
		-webkit-animation-delay:2.5s;
		-moz-animation-delay:2.5s;
}
#fountainTextG_9{
	animation-delay:2.7s;
		-o-animation-delay:2.7s;
		-ms-animation-delay:2.7s;
		-webkit-animation-delay:2.7s;
		-moz-animation-delay:2.7s;
}
#fountainTextG_10{
	animation-delay:2.91s;
		-o-animation-delay:2.91s;
		-ms-animation-delay:2.91s;
		-webkit-animation-delay:2.91s;
		-moz-animation-delay:2.91s;
}
#fountainTextG_11{
	animation-delay:3.12s;
		-o-animation-delay:3.12s;
		-ms-animation-delay:3.12s;
		-webkit-animation-delay:3.12s;
		-moz-animation-delay:3.12s;
}
#fountainTextG_12{
	animation-delay:3.33s;
		-o-animation-delay:3.33s;
		-ms-animation-delay:3.33s;
		-webkit-animation-delay:3.33s;
		-moz-animation-delay:3.33s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(32,97,141);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(32,97,141);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(32,97,141);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(32,97,141);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(32,97,141);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}