* {
    margin: 0px;
    padding: 0px;
}

html {
    padding: 0px;
    margin: 0 auto;
}



body {
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #c6e4fa !important;
    }

a:hover {
    text-decoration: none;
}

pre,
p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0px;
}

textarea {
    resize: none !important;
}

button,
select {
    cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    display: block;
}

a:hover {
    text-decoration: none;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}


/*-----------------------
    Common CSS Ends
-------------------------*/
.abaout{
    margin-top: 200px;
    
}

.whatsapp{
    color: #25D366;
}

.logo{
    width: 20%;
    
}

@media screen and (max-width: 700px) {
.abaout{
    text-align: center;
}
.text{
    text-align: center !important;
    padding-left: 10px;
    
}
.citiescard{
    margin-left: 100px;

}

}


.card-title{
    color: black; 
}
.card-text{
    color: black;
}

.flex-column{
    list-style-type: none;
}
