* {
    margin: 0px;
    padding: 0px;
}

html {
    padding: 0px;
    margin: 0 auto;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity:50% ;
  }


body {
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden; 
    opacity: 85%;
    }

a:hover {
    text-decoration: none;
}

pre,
p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0px;
}

textarea {
    resize: none !important;
}

button,
select {
    cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    display: block;
}

a:hover {
    text-decoration: none;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}


/*-----------------------
    Common CSS Ends
-------------------------*/
.abaout{
    margin-top: 100px;
    padding-bottom: 100px;
    
}

.whatsapp{
    color: #25D366;
}

.logo{
    width: 15% !important;
    display:inline-block ;
    
}
.logo_1{
    width: 8% !important;
    display:inline-block !important ;
    
}
.card_heading_1{
    margin-top: 170px;
}

.card_heading_2{
    padding-top: 100px;
    padding-bottom: 50px;
}

.card_news{
    background-color: white !important;
    opacity: 70%;
    width: 18rem;
    border-radius: 20px;
    
}

.bg_video{
    overflow-x: hidden;
    height: 100%;
}
.citi_card_12{
    opacity: 75%;
    background-color: white;
    
}

.price_col{
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
.abaout{
    text-align: center;
}
.text{
    text-align: center !important;
    padding-left: 10px;
    
}
.citiescard{
    margin-left: 100px;
    padding-top: 50px !important;
    opacity: 80%;
}

.logo{
    width: 30%;
    
    
}

}


.card-title{
    color: black; 
}
.card-text{
    color: black;
}

.flex-column{
    list-style-type: none;
}

.navbar-toggler{
    margin-left: 20px;
}

.card{
    background-color: #b4dcf8 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-cooment{
    background-color: white !important;
    opacity: 80%;
}

.nav-text{
    font-size: 20px;
}

.logo_header_1{
    color: #20628d;
}

.logo_header_2{
    color: #ac1c7a !important;
}

.card_head_1{
    width: 18rem;
    background-color: #ac1c7a !important;
    color: white;
    border-radius: 0px 50px 50px 0px;
}
.card_head_1_5{
    width: 22rem;
    background-color: #ac1c7a !important;
    color: white;
    border-radius: 0px 50px 50px 0px !important;
}
.card_head_1_2_3{
        width: 26rem;
        background-color: #ac1c7a !important;
        color: white;
        border-radius: 0px 50px 50px 0px !important;
}
/* Dorm-Main */
.write_cont{
    opacity: 90% !important;
}
.dorm_write{
    background-color: #ac1c7a !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 12px !important;
}
.dorm_write_1{
    background-color:#20628d !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 12px !important;
}
.dorm_write_whatsapp{
    color: #25D366;
    margin-left: 4px;
    font-size: 25px;
}

.dorm_fav{
    font-size: 22px;
    color:#20628d;
}

.card_head_2{
    background-color: white !important;
    border-radius: 50px;
    opacity: 80%;
    color: #ac1c7a;    
}
.search_font{
    margin-left: 100px;
}

.head_title_1{
    font-weight: 700 !important;
    font-size:large;
}

.head_title_1_2{
    font-weight: 500 !important;
    color: #20628d;
}

.form_resp{
    border-radius: 50px;
    align-content: center;
    opacity: 75%;
    color: #20628d;
    text-align: center;
    font-weight: 700;
}

.btn_resp{
    color: white;
    background-color: #20628d !important;
    margin-left: 110px;
    border-radius: 50px;
}

.btn_abo{
    margin-left: 205px;
    color: #ac1c7a;
}

.fa-arrow-right{
    color: #ac1c7a;
}

.nav_back{
    background-color:#f5f5fd ;
}

.colas_dorm{
    margin-right:250px;
}

.footer_img{
    border-radius: 30px;
}

.dorm_img{
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 12px;
}


.item_header{
    margin-top: 90px;
}
.logores{
    width: 70px;
}
.spons{
    background-color: white !important;
    border-radius: 50px;
    opacity: 80%;
    color: #ac1c7a;
    margin-top: 70px;
}
.sponsor_img{
    border-radius:40px;
    width: 30%;
    height: 40%;
}
.sponsor_img_22{
    border-radius:40px;
    width: 30%;
    height: 10%;
}

.footer{
    opacity: 82%;
}



@media screen and (max-width: 700px) {
    .dorm_img{
        margin-left: 0px;
        margin-top: 175px;
        border-radius: 12px;
        height: 100px;
    }

    .whatsapp{
        margin-top: 20px;
    }

    .city_img{
        margin-top: 50px;
        border-radius: 12px;  
    }

    .city_card{
       width: 50% !important;
        
    }
    .logo_header_1_1{
        color: #20628d;
        position: absolute;
        margin-left: 80px;
    }
    
    .logo_header_2_1{
        color: #ac1c7a !important;
    }
    .navitem{
        margin-left: 30px;
        font-weight: 600;
    }
    
}
